target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
!/src/main/resources/static/vendors/jquery/dist/
!/src/main/resources/static/vendors/bootstrap/dist/
!/src/main/resources/static/build/
