<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zhucai.mapper.SysPermissionMapper">
    <select id="findPermissionByRoleId" resultType="me.zhucai.bean.SysPermission">
        SELECT
          sys_role.id,
          sys_role.available,
          sys_role.description,
          sys_role.role,
          sys_permission.name,
          sys_permission.permission,
          sys_permission.url
        FROM
          sys_permission sys_permission , sys_role sys_role , sys_role_permission sys_role_permission
        WHERE
          sys_role.id = sys_role_permission.role_id and sys_role_permission.permission_id = sys_permission.id
          and sys_role.id = #{roleId}
    </select>
</mapper>