<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zhucai.mapper.UserInfoMapper">

    <select id="findByUsername" resultType="me.zhucai.bean.UserInfo">
        SELECT
          user_info.uid,
          user_info.password,
          user_info.salt,
          user_info.state,
          user_info.username
        FROM
          user_info user_info
        WHERE username=#{username}
    </select>

    <insert id="insert" parameterType="me.zhucai.bean.UserInfo">
        INSERT INTO user_info
            (uid,
            name,
            password,
            salt,
            state,
            username)
        VALUES
            (
            #{uid},
            #{name},
            #{password},
            #{salt},
            #{state},
            #{username}
            )
    </insert>
</mapper>